        	/* this is a comment in CSS. MOVE THIS STYLE TO A SEPARATE FILE */


        	.letter {

        		width:420px; /*resize as you see fit */
        		height:420px; /*resize as you see fit */
        		display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
        		border:1px solid transparent; /*feel free to remove or hide this rule */
        		position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
        	}

        	.letter div {
        		position:absolute;
        	}


.letter-a {
	height:320px;
	width:237px;
}

    .a-leftslant {
      background: white;
      width: 35px;
      height: 260px;
      left: 45px;
      top:60px;
      transform: skew(-20deg);
      
    }

    .a-rightslant {
      background: white;
      width: 35px;
      height: 260px;
      left: 155px;
      top:60px;
      transform: skew(20deg);
      
    }

    .a-middle {
    	background:white;
    	width:160px;
    	height:35px;
    	top:223px;
    	left:40px;
    }

    .a-point {
      width: 0;
      height: 0;
      border-left:34px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 90px solid white;
      left: 83px;
      top: -5px;

    }

    /* LETTER B */

    .letter-b {
    	height:320px;
    	width:200px;
    }

    .b-straight {
    	background:white;
    	width: 35px;
    	height:320px;
    	top:0;
    	left: 0;
    }

    .b-topcurve {
    	background:white;
    	width:150px;
    	height:150px;
    	top:0;
    	left:30px;
    	border-radius:75px;
    }

    .b-topcurvebox {
    	background:white;
    	width:70px;
    	height:150px;
    	top: 0px;
    	left:30px;
    }

    .b-bottomcurve {
    	background:white;
    	width:200px;
    	height:200px;
    	top:120px;
    	left:0;
    	border-radius:100px;
    }

    .b-bottomcurvebox {
    	background:white;
    	width:70px;
    	height:175px;
    	top: 145px;
    	left:30px;
    }

    .b-inside-topcurve {
    	background:black;
    	width:90px;
    	height:90px;
    	top:33px;
    	left:57px;
    	border-radius:75px;

    }

    .b-inside-bottomcurve {
    	background:black;
    	width:130px;
    	height:135px;
    	top:153px;
    	left:35px;
    	border-radius:75px;

    }

    .b-inside-topcurvebox {
    	background:black;
    	width:63px;
    	height:90px;
    	top:33px;
    	left:35px;
    }

    .b-inside-bottomcurvebox {
    	background:black;
    	width:70px;
    	height:135px;
    	top:153px;
    	left:35px;
    }

 /* LETTER C */

 .letter-c {
    height:320px;
    width:271px;
 }

    .c-outer {
        background:white;
        width: 320px;
        height:320px;
        top:0px;
        left:0px;
        border-radius: 160px;
    }

    .c-inner {
        background:black;
        width: 245px;
        height:245px;
        top:37px;
        left:38px;
        border-radius: 160px;
    }

    .c-cutout {
        border-bottom: 100px solid black;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      width: 150px;
      top:110px;
      left: 120px;
      transform: rotate(-90deg);
    }

       /* LETTER D */

    .letter-d {
        height:320px;
        width:245px;

    }

    .d-straight {
        background:white;
        width: 85px;
        height:320px;
        top:0px;
        left: 0px;
    }

    .d-curve {
        height:90px;
         width:45px;
        border-radius: 0 90px 90px 0;
        background:white;   
        left:140px;
        top: 115px;
         transform:scale(3.557);
    }

    .d-insidecurve {
        height:90px;
         width:45px;
        border-radius: 0 90px 90px 0;
        background:black;   
        left:120px;
        top: 115px;
         transform:scale(2.8);
    }

    .d-insidebox {
        background:black;
        width: 50px;
        height:252px;
        top:34px;
        left:35px;
    }

/* LETTER E */

.letter-e {
    height:320px;
    width: 190px;
}

    .e-straight {
        background:white;
        width: 35px;
        height:320px;
        top:0;
        left: 0;
    }

    .e-top{
        background:white;
        width: 190px;
        height: 35px;
    }

    .e-bottom {
        background:white;
        width:190px;
        height: 35px;
        top: 285px;
    }

    .e-middle {
        background:white;
        width:170px;
        height:35px;
        top: 160px;
    }

/* LETTER F */

.letter-f {
    height:320px;
    width: 190px;
    }

.f-straight {
    background:white;
    width: 35px;
    height: 320px;
}

.f-top {
    background:white;
    width: 190px;
    height: 35px;
}

.f-bottom {
    background:white;
        width:170px;
        height:35px;
        top: 160px;
}

/* LETTER G */

.letter-g{
    height:320px;
    width: 320px;
}

 .g-outer {
        background:white;
        width: 320px;
        height:320px;
        top:0px;
        left:0px;
        border-radius: 160px;
    }

    .g-inner {
        background:black;
        width: 245px;
        height:245px;
        top:37px;
        left:38px;
        border-radius: 160px;
    }

    .g-cutout {
        border-bottom: 100px solid black;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 60;
      width: 150px;
      top:110px;
      left: 120px;
      transform: rotate(-90deg);
    }

    .g-semicircle {
     height:160px;
     width:320px;
     border-radius: 0 0 160px 160px;
     background:white;
     top: 160px;
}
    
    .g-innersemi {
    height:122.5px;
     width:245px;
     border-radius: 0 0 122.5px 122.5px;
     background:black;
     top: 160px;
     left:38px;
    }

     .g-thing {
        background:white;
        width:140px;
        height:35px;
        top: 160px;
        left: 160px;
    }

    /* LETTER H */

    .letter-h {
        height:320px;
        width: 215px;
    }

    .h-left {
    background:white;
    width: 35px;
    height: 320px;
}

.h-right {
    background:white;
    width: 35px;
    height: 320px;
    left: 175px;
}

.h-middle {
    background:white;
        width:200px;
        height:35px;
        top: 180px;
}


/* LETTER I */

.letter-i {
    height:320px;
    width:45px;
}


.i-straight {
    background: white;
    height: 320px;
    width: 35px;

}

/* LETTER J */

.letter-j {
    height:320px;
    width: 190px;
}

.j-middle {
     background: white;
    height: 260px;
    width: 35px;
    left:105px;
}

.j-curve {
      height:160px;
     width:140px;
     border-radius: 0 0 160px 160px;
     background:white;
     top: 160px;
}

.j-innercurve {
      height:125px;
     width:70px;
     border-radius: 0 0 160px 160px;
     background:black;
     top: 160px;
     left: 35px;
}

.j-cutout {
     border-bottom: 100px solid black;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      width: 100px;
      top:125px;
      left: -80px;
      transform: rotate(90deg);

}

/* LETTER K */

.letter-k {
    height: 320px;
    width: 190px;
}

   .k-straight {
        background:white;
        width: 35px;
        height:320px;
        top:0px;
        left: 0px;
    }

    .k-top {
      background: white;
      width: 45px;
      height: 215px;
      left: 66px;
      top:0px;
      transform: skew(-37deg);
      
    }

    .k-bottom {
      background: white;
      width: 40px;
      height: 170px;
      left: 93px;
      top:150px;
      transform: skew(33deg);
      
    }

     .k-black {
        background:black;
        width: 15px;
        height:320px;
        top:0px;
        left: -16px;
    }

    /* LETTER L */

.letter-l {
    height:320px;
    width: 170px;
    }

.l-straight {
    background:white;
    width: 35px;
    height: 320px;
}

.l-bottom {
    background:white;
        width:170px;
        height:35px;
        top: 285px;
}


/* LETTER M */

.letter-m{
    height:320px;
    width: 310px;
}

        .m-left {
      background: white;
      width: 35px;
      height: 260px;
      left: 15px;
      top:60px;
      transform: skew(-7deg);
      
    }

    .m-leftinner {
      background: white;
      width: 35px;
      height: 200px;
      left:84px;
      top:60px;
      transform: skew(28deg);
      
    }

    .m-point1 {
      width: 0;
      height: 0;
      border-left:6px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 65px solid white;
      left: 31px;
      top: -3px;
      transform: scale();

    }

  .m-rightinner {
    background:white;
    width:35px;
    height:200px;
    left:190px;
    top:60px;
    transform: skew(-28deg);
  }

    .m-bottompoint {
      width: 0;
      height: 0;
      border-left:27px solid transparent;
      border-right: 27px solid transparent;
      border-bottom: 55px solid white;
      left: 128px;
      top: 243px;
      transform: rotate(180deg);

    }

        .m-right {
      background: white;
      width: 35px;
      height: 260px;
      left: 259px;
      top:60px;
      transform: skew(7deg);
      
    }

        .m-point2 {
      width: 0;
      height: 0;
      border-left:6px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 65px solid white;
      left: 242px;
      top: -3px;
      transform: scale(-1,1);

    }


/* LETTER N*/

.letter-n{
    height:320px;
    width:275px;
}

.n-straight {
    background:white;
    height:320px;
    width:35px;
}

.n-slant {
      background: white;
      width: 45px;
      height: 270px;
      left: 112px;
      transform: skew(40deg);
}

.n-right {
    background:white;
    width:35px;
    height:280px;
    left: 240px;
}

.n-point {
    width:0px;
    height: 0;
    border-style: solid;
    border-width: 0 58px 60px 0;
    border-color: transparent white transparent transparent;
    left: 217px;
    top: 261.5px;
}








    /* LETTER O */

 .letter-o {
    height:320px;
    width:320px;
 }
      .o-outer {
        background:white;
        width: 320px;
        height:320px;
        top:0px;
        left:0px;
        border-radius: 160px;
    }

    .o-inner {
        background:black;
        width: 245px;
        height:245px;
        top:37px;
        left:38px;
        border-radius: 160px;
    }

    /* LETTER P */

    .letter-p {
        height:320px;
        width:200px;
    }

    .p-straight {
    background:white;
    width: 35px;
    height: 320px;
}

    .p-topcurve {
        background:white;
        width:200px;
        height:200px;
        top:0px;
        left:0;
        border-radius:100px;
    }

    .p-topcurvebox {
        background:white;
        width:70px;
        height:200px;
        top: 0px;
        left:30px;
    }

     .p-inside-topcurve {
        background:black;
        width:130px;
        height:135px;
        top:32px;
        left:35px;
        border-radius:75px;
    }

    .p-inside-topcurvebox {
        background:black;
        width:70px;
        height:135px;
        top:32px;
        left:35px;
    }

    /* LETTER Q */

     .letter-q {
    height:320px;
    width:320px;
 }
      .q-outer {
        background:white;
        width: 320px;
        height:320px;
        top:0px;
        left:0px;
        border-radius: 160px;
    }

    .q-inner {
        background:black;
        width: 245px;
        height:245px;
        top:37px;
        left:38px;
        border-radius: 160px;
    }

    .q-tail {
        background:white;
        width:150px;
        height:35px;
        top:285px;
        left:170px;
    }

/* LETTER R */

  .letter-r {
        height:320px;
        width:200px;
    }

    .r-straight {
    background:white;
    width: 35px;
    height: 320px;
}

    .r-topcurve {
        background:white;
        width:200px;
        height:200px;
        top:0px;
        left:0;
        border-radius:100px;
    }

    .r-topcurvebox {
        background:white;
        width:70px;
        height:200px;
        top: 0px;
        left:30px;
    }

     .r-inside-topcurve {
        background:black;
        width:130px;
        height:135px;
        top:32px;
        left:35px;
        border-radius:75px;
    }

    .r-inside-topcurvebox {
        background:black;
        width:70px;
        height:135px;
        top:32px;
        left:35px;
    }

    .r-thing {
       background: white;
      width: 40px;
      height: 170px;
      left: 93px;
      top:150px;
      transform: skew(33deg);
    }

/* LETTER S */

.letter-s {
    height:320px;
    width:180px;
}

.s-topcurve {
    background: white;
    width:175px;
    height:175px;
    border-radius:87.5px;
}

.s-inside-topcurve {
    background:black;
    width:105px;
    height:105px;
    border-radius:52.5px;
    left:35px;
    top: 35px;
}


.s-bottomcurve {
    background: white;
    width:180px;
    height:180px;
    border-radius:90px;
    top:140px;
}

.s-inside-bottomcurve {
    background:black;
    width:110px;
    height:110px;
    border-radius:55px;
    left:35px;
    top: 175px;
}

.s-topcutout {
    background: black;
    width:100px;
    height:130px;
    transform: rotate(65deg);
    left: 100px;
    top:47px;
}

.s-bottomcutout {
    background:black;
    width:40px;
    height:80px;
    transform: rotate(65deg);
    top:190px;
    left: 10px;
}

.s-bottomboxcutout {
    background:black;
    width:62px;
    height:72px;
    top: 167px;
    left:1px;
    transform: rotate(40deg);
}

.s-bottomboxcutout2 {
    background:black;
    width:50px;
    height:50px;
    top:168px;
    left: 25px;
    transform: rotate(18deg);
}

.s-bottomboxcutout3 {
    background:black;
    width: 30px;
    height:30px;
    top:173px;
    left:61px;
    transform: rotate(8deg);
}

.s-bottomboxcutout4 {
    background: black;
    width:30px;
    height:30px;
    top:160px;
    left:20px;
    transform: rotate(28deg);
}


/* LETTER T */

.letter-t {
    width:190px;
    height:320px;
}

.t-straight {
    background:white;
    width: 35px;
    height: 320px;
    left:80px;
}

.t-top {
    background:white;
    width: 190px;
    height: 35px;
}


/* LETTER U */

.letter-u {
    width:215px;
    height:320px;
}

.u-left {
    background:white;
    width: 35px;
    height: 210px;
}

.u-right {
    background: white;
    width:35px;
    height:210px;
    left:180px;
}

.u-curve {
    background:white;
    width:215px;
    height:215px;
    border-radius: 107.5px;
    top:105px;
}

.u-curvecutout {
    background:black;
    width:145px;
    height:145px;
    border-radius: 72.5px;
    left:35px;
    top:140px;
}

.u-curvebox {
    background:black;
    width:145px;
    height:145px;
    left:35px;
    top: 60px;
}

/* LETTER V */


.letter-v {
    height:320px;
    width:237px;
}

    .v-left {
      background: white;
      width: 35px;
      height: 260px;
      left: 45px;
      transform: skew(20deg);
      
    }

    .v-right {
      background: white;
      width: 35px;
      height: 260px;
      left: 155px;
      transform: skew(-20deg);
    }

    .v-point {
      width: 0;
      height: 0;
      border-left:34px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 90px solid white;
      left: 83px;
      top: 235px;
      transform: rotate(180deg);
    }



    /* LETTER W */

    .letter-w {
        height:320px;
        width: 350px;
    }

.w-left {
       background: white;
      width: 35px;
      height: 250px;
      left: 40px;
      top:-1px;
      transform: skew(18deg);
}

.w-innerleft {
      background: white;
      width: 35px;
      height: 250px;
      left: 150px;
      top:-1px;
      transform: skew(-18deg);
}

.w-point1 {
     width: 0;
      height: 0;
      border-left:34px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 90px solid white;
      left: 78px;
      top: 240.5px;
      transform: rotate(180deg);  
}

.w-innerright {
       background: white;
      width: 35px;
      height: 250px;
      left: 165px;
      top:-1px;
      transform: skew(18deg);
}

.w-right {
      background: white;
      width: 35px;
      height: 250px;
      left: 275px;
      top:-1px;
      transform: skew(-18deg);
}

.w-point2 {
     width: 0;
      height: 0;
      border-left:34px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 90px solid white;
      left: 203px;
      top: 240.5px;
      transform: rotate(180deg);  
}

.w-cutout {
    background: black;
    height:90px;
    width:70px;
    left:177px;
    top:3px;
    transform: rotate(-18deg);
}

.w-topcutout {
    background:black; 
    height:10px;
    width:90px;
    left:180px;
    top:-1px;
}


    /* LETTER X */

    .letter-x {
    height:320px;
    width:206px;
}

    .x-left {
      background: white;
      width: 35px;
      height: 320px;
      left: 85px;
      transform: skew(28deg);
      
    }

    .x-right {
      background: white;
      width: 35px;
      height: 320px;
      left: 85px;
      transform: skew(-28deg);
    }


/* LETTER Y */

.letter-y{
    height:320px;
    width:217px;
}

    .y-left {
      background: white;
      width: 35px;
      height: 198px;
      left: 45px;
      transform: skew(25deg);
      
    }

    .y-right {
      background: white;
      width: 35px;
      height: 198px;
      left: 136px;
      transform: skew(-25deg);
    }

    .y-bottom {
        background:white;
        width:35px;
        height:140px;
        top: 180px;
        left:90px;
    }

    /* LETTER Z */

    .letter-z {
        height: 320px;
        width:190px;
    }

 .z-top {
    background:white;
    width: 160px;
    height: 35px;
    left: 10px;
}

.z-bottom {
    background:white;
        width:160px;
        height:35px;
        top:285px;
        left:30px;
}

 .z-slant {
      background: white;
      width: 38px;
      height: 320px;
      left: 75px;
      transform: skew(-25deg);
    }


    